<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhà cà phê</title>
    <link rel="stylesheet" href="assest/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="brand-info">
                <div class="logo">
                    <img src="assest/image/logocaphe.png" alt="logo" width="120px" height="120px">
                </div>
                <div class="sologan">
                    <strong>Cà phê ngon như nhà làm</strong>
                </div>
                <div class="info-r">
                    <i class="fa-solid fa-phone-flip"></i>
                    <strong> Hotline: 0123 456 789</strong>
                    <div class="frm-search">
                        <input type="text" class="txt-search" placeholder="Enter your search item...">
                        <button type="submit" class="button-search">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="#">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">SẢN PHẨM &dArr;</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Cafe Arabica</a>
                        </li>
                        <li>
                            <a href="#">Cafe Robusta</a>
                        </li>
                        <li>
                            <a href="#">Cafe Cherry</a>
                        </li>
                        <li>
                            <a href="#">Cà phê Culi</a>
                        </li>
                        <li>
                            <a href="#">Cà phê Mocha</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">GIẢI PHÁP</a>
                </li>
                <li>
                    <a href="#">DỰ ÁN</a>
                </li>
                <li>
                    <a href="#">TIN TỨC</a>
                </li>
                <li>
                    <a href="#">THƯ VIỆN</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <section class="main-content">
                <div class="main-content-image">
                    <img src="assest/image/caphe.png" alt="caphe" width="500px">
                </div>
                <div class="work">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. 
                        It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>   
            </section>
            <div class="sidebar">
                <div class="sidebar-list">
                    <article class="sidebar-list-item">
                        <img src="assest/image/caphe1.jpg" alt="caphe" width="400px" height="400px">
                        <p>Cà phê arabica</p>
                    </article>
                </div>
                <div class="sidebar-list">
                    <article class="sidebar-list-item">
                        <img src="assest/image/caphe2.jpg" alt="caphe" width="400px" height="400px">
                        <p>Cà phê Culi</p>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <footer>
        &copy; HaiTD5 2023. All rights...
    </footer>
</body>
</html>