body {
    padding-left: 10px;
    margin: 0;
}
.container {
    width: 100%;
    background-color: #FEDCC8;

}
.brand-info {
    width: 600px§;
    display: flex;
}
.logo {
    width: 120px;
    height: 120px;
    padding-left: 50px;

}
.sologan {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    position: relative;
    top: 50px;
    left: 250px;
    color: #558d78;
}
.info-r {
    position: absolute;
    left: 1000px;
    top: 20px;
    color: #558d78;
    
}
.frm-search {
    border: 1px solid #4c8072;
    height: 50px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    
}
.txt-search {
    border: none;
    height: 100%;
    padding-top: 0;
    overflow: visible;
    background-color: transparent;
    
}
.button-search {
    height: 50px;
    
}

.menu {
    list-style-type: none;
    background-color: #4c8072;
    display: flex;
}
.menu li { 
    padding: 10px 40px;
    cursor: pointer;
    position: relative;
}
.menu li a {
    text-decoration: none;
    color: white;
    font-size: bolder;
}
.menu li:hover{
    background-color: #FEDCC8;
    
}
.sub-menu {
    position: absolute;
    padding-left: 0;
    top: 40px;
    left: 0px;
    list-style-type: none;
    background-color: #4c8072;
    visibility: hidden;
}
.menu li:hover .sub-menu {
    visibility: visible;
}
.content {
    display: flex;
    padding: 10px 20px;
}
.main-content {
    padding: 10px;
    
}
.main-content-image {
    width: 900px;
    text-align: center;

}
.work {
    margin: 10px;
    font-size: 20px;
}
.sidebar {
    padding-left: 20px;
    width: 500px;
}
.sidebar-list {
    border: 1px solid #4c8072;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
}
.sidebar-list-item {
    margin-bottom: 5px;
    text-align: center;
    font-weight: bolder;
}
footer {
    text-align: center;
    color: #4c8072;
    font-size: large;
    background-color: #FEDCC8;
    width: 100%;
}